
@font-face {
  font-family: "SFProText-Regular";
  src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
}
@font-face {
  font-family: "SFCompactText-Light";
  src: url('../fonts/SFCompactText-Light.otf') format("opentype");
}
@font-face {
  font-family: "SFCompactText-Bold";
  src: url('../fonts/SFCompactText-Bold.otf') format("opentype");
}
@font-face {
  font-family: "SFCompactText-Regular";
  src: url('../fonts/SFCompactText-Regular.otf') format("opentype");
}
@font-face {
  font-family: "SFProText-Bold";
  src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
}
@font-face {
  font-family: "SFCompactText-Medium";
  src: url('../fonts/SFCompactText-Medium.otf') format("opentype");
}
@font-face {
  font-family: "SFCompactDisplay-Regular";
  src: url('../fonts/SFCompactDisplay-Regular.otf') format("opentype");
}
@font-face {
  font-family: "SFProText-Medium";
  src: url('../fonts/SF-Pro-Text-Medium.otf') format("opentype");
}

.footer-company {
  width               : 100%;
  min-width           : 1440px;
  min-height          : 810px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.footer-company .company {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 117px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 623px;
  font-family         : "SFCompactText-Regular", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(46, 46, 46, 1.0);
  text-align          : center;
  line-height         : 50.0px;
}
.footer-company .our-vision {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 243px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  font-family         : "SFCompactText-Regular", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(46, 46, 46, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.footer-company .our-team {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 463px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  font-family         : "SFCompactText-Regular", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(46, 46, 46, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.footer-company .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 244px;
  height              : 23px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 353px;
}
.footer-company .group .stroke4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.footer-company .group .stroke5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 21px;
  height              : 3px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .group .stroke6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 9px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.footer-company .group .stroke7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 9px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.footer-company .group1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 461px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 348px;
}
.footer-company .group1 .stroke2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.footer-company .group1 .stroke41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 3px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
}
.footer-company .group1 .stroke61 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 8px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
}
.footer-company .group1 .stroke8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 12px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.footer-company .group1 .stroke10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 6px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.footer-company .group1 .stroke12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.footer-company .group1 .stroke14 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 6px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.footer-company .group1 .stroke16 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.footer-company .group1 .rectangle5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default .rectangle {
  background-color    : rgba(36, 40, 48, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default .rectangle4-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  opacity             : 0.0;
}
.footer-company .nav-bar1-default .wallets {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(249, 249, 249, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.footer-company .nav-bar1-default .rectangle4-copy1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 346px;
  opacity             : 0.0;
}
.footer-company .nav-bar1-default .exchange {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 354px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(249, 249, 249, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.footer-company .nav-bar1-default .rectangle4-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  opacity             : 0.0;
}
.footer-company .nav-bar1-default .information-kit {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 504px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(249, 249, 249, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.footer-company .nav-bar1-default .rectangle4-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 646px;
  opacity             : 0.0;
}
.footer-company .nav-bar1-default .support {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(249, 249, 249, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.footer-company .nav-bar1-default .tool-bar-search-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 12px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
}
.footer-company .nav-bar1-default .tool-bar-search-copy .path3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 2px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default .tool-bar-search-copy .path3-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 2px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default .tool-bar-search-copy .path3-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 2px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default .jdax-logo-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 27px;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 20px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 19px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 19px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .fill7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 19px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .group2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 27px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .group2 .fill11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 16px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .group2 .fill2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 16px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .group2 .fill31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 18px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.footer-company .nav-bar1-default .jdax-logo-copy .group2 .fill6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 17px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
}
.footer-company .nav-bar1-default .rectangle4-copy31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 995px;
  opacity             : 0.0;
}
.footer-company .nav-bar1-default .btc-zar136599 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : auto;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 995px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(249, 249, 249, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.footer-company .nav-bar1-default .log-in {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : auto;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 1280px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(249, 249, 249, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.footer-company .nav-bar1-default .sign-up {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : auto;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 1185px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(249, 249, 249, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.footer-company .nav-bar1-default .rectangle9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 32px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 1165px;
  border-radius       : 16px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(100, 107, 120, 1.0);
}
.footer-company .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 510px;
  height              : 120px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
}
.footer-company .oval-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 510px;
  height              : 120px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 660px;
}
.footer-company .derek1-bw {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 510px;
  height              : 120px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 930px;
}
.footer-company .derek1-bw .derek1-bw1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 120px;
  width               : 120px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.footer-company .robert-lipschitz {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 646px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 365px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(102, 102, 102, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.footer-company .c-eo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 671px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 365px;
  font-family         : "SFCompactText-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(204, 204, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.36px;
  line-height         : 14.0px;
}
.footer-company .ze-ev-krein {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 646px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 635px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(102, 102, 102, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.footer-company .c-oo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 671px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 635px;
  font-family         : "SFCompactText-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(204, 204, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.36px;
  line-height         : 14.0px;
}
.footer-company .derek-white {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 646px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 905px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(102, 102, 102, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.footer-company .director {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 671px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 905px;
  font-family         : "SFCompactText-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(204, 204, 204, 1.0);
  text-align          : center;
  letter-spacing      : 0.36px;
  line-height         : 14.0px;
}
.footer-company .jdax-pty-ltd-was-fou {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 290px;
  height              : auto;
  width               : 662px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(102, 102, 102, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}